# CMake build directory.
/android-ndk-*.zip
_git
_build
_install

# IDEA meta files.
.idea
*.iml
*.ipr
*.iws

# Temporary editor files.
*.swp
*~

# Virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Gradle temporary directory.
.gradle

# Java runtime support for disassembly.
hsdis-*.*

# Ignore Gradle build output directory
build
