# GitHub pages.
/.web

# SBT compiled build system.
/project/project
/project/target

# SBT output directory.
/target

# Generated startup scripts for main classes.
/bin

# Local user settings for SBT and Java.
/local.sbt
/local.properties

# CMake build directory.
/android-ndk-*.zip
_git
_build
_install

# IDEA meta files.
.idea
*.iml
*.ipr
*.iws

# Temporary editor files.
*.swp
*~

# Virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Debug log from toxcore.
libtoxcore.log

# Gradle temporary directory.
.gradle

# Java runtime support for disassembly.
hsdis-*.*

# Generated proguard configuration.
/proguard-sbt.txt
