language: android
sudo: false

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
      - llvm-toolchain-precise-3.5
    packages:
      - clang-3.5
      - p7zip-full

android:
  components:
    #- android-23
    #- platform-tools
    #- extra-android-support
    #- extra-android-m2repository
    #- sys-img-aarch64-android-23
    #- sys-img-armeabi-v7a-android-19
    #- sys-img-x86-android-23

cache:
  directories:
    - $HOME/cache

env:
  matrix:
    # Test builds first, since they don't upload things.
    - TEST_GOAL=coverage TOXCORE=toktok/c-toxcore
    - TEST_GOAL=performance TOXCORE=irungentoo/toxcore
    # Production builds after test builds so only tested artifacts are uploaded.
    #- TARGET=x86_64-linux
    #- TARGET=aarch64-linux-android
    #- TARGET=arm-linux-androideabi
    #- TARGET=i686-linux-android
    #- TARGET=x86_64-linux-android

matrix:
  fast_finish: true

install:
  # Move files from cache directory.
  - make cache
  # Set-up step.
  - export NDK_HOME=$HOME/android-ndk
  - make setup

script:
  # Build/install/test step.
  - mkdir -p /tmp/android-travis
  - make install

before_cache:
  - make upload
  # Clean up cache.
  - find $HOME/cache/ivy2 -type f -name "ivydata-*.properties" -delete
  - find $HOME/cache/sbt/boot -name "sbt.*.lock" -delete

branches:
  only:
    - master
